{{ define "main" }}
  <div class='hx:mx-auto hx:flex hextra-max-page-width'>
    {{ partial "sidebar.html" (dict "context" .) }}
    {{ partial "toc.html" . }}
    <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8 hx:pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx:w-full hx:min-w-0 hx:max-w-6xl hx:px-6 hx:pt-4 hx:md:px-12">
        {{ partial "breadcrumb.html" (dict "page" . "enable" true) }}
        <div class="content">
          <h1>Page Not Found</h1>
          <p>문제에 대한 정보를 보러 오셨다면, 문제를 푸신 뒤에 기여하는 것을 고려해 주세요. 오른쪽 상단의 수정 링크에서 내용을 추가할 수 있습니다.
          구체적인 방법은 <a href="/docs/contributing">Baeknote에 기여하기</a>를 참고해 주세요.</p>
        </div>
      </main>
    </article>
  </div>
  <script>
    const path = window.location.pathname;
    const editLinkElem = document.getElementById("edit-this-page");
    const editPath = editLinkElem.href + (path.endsWith("/") ? path.slice(0, -1) : path) + ".md";
    editLinkElem.href = editPath;
  </script>
{{ end }}
